venv/
.venv/
.env
.vscode/
__pycache__/
.git.old/
models/mlx/
outputs/**/checkpoint-*/**/*.safetensors
outputs/**/checkpoint-*/**/*.pt
outputs/**/checkpoint-*/**/*.pth
outputs/**/checkpoint-*/**/*.bin
